doctype html
html
  head
    title= pageTitle
  body
    h1= pageTitle
    p #{objData}
    form(action='/update-cobj', method='post')
      label(for='Name') Nom:
      input(type='text', id='name', name='Name', value=objData.name)
      br
      label(for='Type') Type:
      input(type='text', id='type', name='Type', value=objData.type)
      br
      label(for='Age') Age:
      input(type='text', id='age', name='Age', value=objData.age)
      br
      input(type='submit', value='Envoyer')

