doctype html
html
  head
    title= pageTitle
  body
    h1= pageTitle
    p #{objData}
    form(action='/update-cobj', method='post')
      label(for='Name') Nom:
      input(type='text', id='Name', name='Name', value=objData.Name)
      br
      label(for='Type') Type:
      input(type='text', id='Type', name='Type', value=objData.Type)
      br
      label(for='Age') Age:
      input(type='text', id='Age', name='Age', value=objData.Age)
      br
      input(type='submit', value='Envoyer')

